@font-face {
  font-family: "DINOT";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("DINOT"), local("DINOT-Bold"),
    url("./DINOT-Bold.woff") format("woff");
}
@font-face {
  font-family: "DINOT";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("DINOT"), local("DINOT-Medium"),
    url("./DINOT-Medium.woff") format("woff");
}

@font-face {
  font-family: "DINOT";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("DINOT"), local("DINOT-Regular"),
    url("./DINOT-Regular.woff") format("woff");
}

@font-face {
  font-family: "GaiaXIcons";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./gaia-x-icons.woff") format("woff2");
}
